/* start nav menue desgin */
* {
    margin: 0;
    box-sizing: border-box;
}

.redlinem {
    position: relative;
}

.redlinem::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 2px;
    background-color: rgb(65, 161, 1);
}

.redlinem:hover::after {
    width: 100%;
    transition: .5s;
}

/* end nav menue desgin */

.redlinem:hover {
    color: rgb(65, 161, 1);
}

.custom-link {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

.custom-link:hover {
    color: #007bff;
    /* Change color on hover */
    text-decoration: underline;
    /* Optional hover effect */
}

/* ---------------------------start search box and dropdown---------------------------------- */
.search-box:hover {
    background-color: rgb(65, 161, 1);
}

.bi-search:hover {
    color: white;
    font-size: 20px;
}

.drop-item {
    width: 400px;
}

.left-drop-item {
    width: 200px;
}

.right-drop-item {
    width: 200px;
}

/* ---------------------------end
/* ---------------------------start stickynav ---------------------------------- */
.sticky_nav {
    max-width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}

/* ---------------------------start main sention---------------------------------- */
.post-section{
    margin-top: 100px;
}
.content,.post-content{
    display: flex;
    justify-content: space-between;
}

.Editors-Pick {
    margin-left: 20px;
    width: 22%;
}
.herodiv{
    width: 78%;  
}
.posts {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
}

.Pick {
   margin-top: 35px;
}
.breadcrumb > li > a{
    color: rgb(65, 161, 1);
}

