

/* start nav menue desgin */
    .redlinem {
        position: relative;
    }
    .redlinem::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0px;
        height: 2px;
        background-color: rgb(65, 161, 1);
    }

    .redlinem:hover::after {
        width: 100%;
        transition: .5s;
    }

    /* end nav menue desgin */

    .redlinem:hover {
        color: rgb(65, 161, 1);
    }
    .custom-link {
        text-decoration: none;
        font-size: 16px;
        color: #000;
    }
    
    .custom-link:hover {
        color: #007bff; /* Change color on hover */
        text-decoration: underline; /* Optional hover effect */
    }
    
    

